body{
  background: url("ladebraes.jpg");
  background-size: cover;
}



header{
text-align: center;
  background:white;
  opacity:0.7;
  color: grey;
  font-family: "Amatic SC", "arial";
  font-size: 30px;

}
ul.nav{
  background: #ffeff6;
  opacity: 0.9;
}

a{
  color: black;
  text-decoration: none;
}

#home{
  decoration: underline;
}

ul.nav li{
    display: inline-block;
    padding-right: 10px;
    background: none;
}

.nav a:hover{
  color: hotpink;
}
